<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./component/js/JQuery2.1.4.js"></script>
    <link rel="stylesheet" href="./component/style/components.css">
    <script src="./component/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
        <!-- /* // ****后台页面定制222222，设计QQ：951252660 */ -->
    <link rel="stylesheet" href="css/plugins.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/themes.css">
    <script src="./component/plugins/laydate/laydate.js"></script>
    <script src="./component/plugins/layer/layer.js"></script>
</head>

<body>
    <div id="body">
        <ol class="breadcrumb">
            <li class="active"><a href="#">系统</a></li>
            <li>回收站</li>
        </ol>

        <div class="barboxs">
            <div class="btn-group">
                <a href="javascript:void(0)" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-gears"></i>&emsp;<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="javascript:void(0)">还原所选</a></li>
                            <li><a href="javascript:void(0)">全部还原</a></li>
                            <li><a href="javascript:void(0)">删除所选</a></li>
                            <li><a href="javascript:void(0)">清空全部</a></li>
                </ul>
            </div>


            <div class="leftbox">
                <div class="liselect">
                    <select id="val_skill" name="val_skill" class="form-control mb0">
                        <option value="">所属栏目</option>
                        <option value="html">HTML</option>
                        <option value="css">CSS</option>
                        <option value="javascript">Javascript</option>
                        <option value="php">PHP</option>
                        <option value="mysql">MySQL</option>
                    </select>
                </div>


                <div class="ml10">
                    <div class="input-group date input-datepicker mtb0">
                        <input type="text" id="date" placeholder="请选择时间段"
                            name="date" class="form-control cursorpointer" readonly>
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>

                <div class="liselect w300">
                    <div class="input-group mtb0">
                        <input type="text" id="example-input-typeahead" class="form-control example-typeahead"
                            placeholder="请输入关键词">
                        <span class="input-group-btn">
                            <button class="btn btn-success"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="push">
            <button class="btn btn-success pull-left"><i class="fa fa-plus"></i> 创建文章</button>
        </div> -->
        <div class="tablebox">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="text-center" width="50" data-toggle="tooltip" title="Toggle all!"><input
                                type="checkbox" id="check5-all" name="check5-all"></th>
                        <th class="text-center">ID</th>
                        <th>文档名称</th>
                        <th>标记</th>
                        <th>封面</th>
                        <th>所属栏目</th>
                        <th>打开方式</th>
                        <th>首页推荐</th>
                        <th>赞</th>
                        <th>点击</th>
                        <th>排序</th>
                        <th>发布日期</th>
                        <th class="cell-4 text-center"><i class="fa fa-bolt"></i> 操作</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td class="text-center"><input type="checkbox" id="check5-td1" name="check5-td1">
                        </td>
                        </td>
                        <td class="cell-small text-center">1</td>
                        <td><a href="javascript:void(0)">停车场划线施工前需做好哪些准备工作</a></td>
                        <td><span class="label label-danger">热</span></td>
                        <td><i class="fa fa-picture-o"></i></td>
                        <td>公司新闻</td>
                        <td>新建窗口</td>
                        
                        <td><span class="label label-success">是</span></td>
                        <td>13</td>
                        <td>13</td>
                        <td>1</td>
                        <td>2021-3-20</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="javascript:void(0)" class="btn btn-xs btn-info"><i
                                        class="fa fa-globe"></i></a>
                                <a href="javascript:void(0)" class="btn btn-xs btn-warning"><i
                                        class="fa fa-reply"></i></a>
                                <a href="javascript:void(0)" class="btn btn-xs btn-success"><i
                                        class="fa fa-pencil"></i></a>
                                <a href="javascript:void(0)" class="btn btn-xs btn-danger delbtn"><i
                                        class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"><input type="checkbox" id="check5-td1" name="check5-td1">
                        </td>
                        </td>
                        <td class="cell-small text-center">1</td>
                        <td><a href="javascript:void(0)">停车场划线施工前需做好哪些准备工作</a></td>
                        <td><span class="label label-danger">热</span></td>
                        <td><i class="fa fa-picture-o"></i></td>
                        <td>公司新闻</td>
                        <td>新建窗口</td>
                        
                        <td><span class="label label-success">是</span></td>
                        <td>13</td>
                        <td>13</td>
                        <td>1</td>
                        <td>2021-3-20</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="javascript:void(0)" class="btn btn-xs btn-info"><i
                                        class="fa fa-globe"></i></a>
                                <a href="javascript:void(0)" class="btn btn-xs btn-warning"><i
                                        class="fa fa-reply"></i></a>
                                <a href="javascript:void(0)" class="btn btn-xs btn-success"><i
                                        class="fa fa-pencil"></i></a>
                                <a href="javascript:void(0)" class="btn btn-xs btn-danger delbtn"><i
                                        class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"><input type="checkbox" id="check5-td1" name="check5-td1">
                        </td>
                        </td>
                        <td class="cell-small text-center">1</td>
                        <td><a href="javascript:void(0)">停车场划线施工前需做好哪些准备工作</a></td>
                        <td><span class="label label-danger">热</span></td>
                        <td><i class="fa fa-picture-o"></i></td>
                        <td>公司新闻</td>
                        <td>新建窗口</td>
                        
                        <td><span class="label label-success">是</span></td>
                        <td>13</td>
                        <td>13</td>
                        <td>1</td>
                        <td>2021-3-20</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="javascript:void(0)" class="btn btn-xs btn-info"><i
                                        class="fa fa-globe"></i></a>
                                <a href="javascript:void(0)" class="btn btn-xs btn-warning"><i
                                        class="fa fa-reply"></i></a>
                                <a href="javascript:void(0)" class="btn btn-xs btn-success"><i
                                        class="fa fa-pencil"></i></a>
                                <a href="javascript:void(0)" class="btn btn-xs btn-danger delbtn"><i
                                        class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"><input type="checkbox" id="check5-td1" name="check5-td1">
                        </td>
                        </td>
                        <td class="cell-small text-center">1</td>
                        <td><a href="javascript:void(0)">停车场划线施工前需做好哪些准备工作</a></td>
                        <td><span class="label label-danger">热</span></td>
                        <td><i class="fa fa-picture-o"></i></td>
                        <td>公司新闻</td>
                        <td>新建窗口</td>
                        
                        <td><span class="label label-success">是</span></td>
                        <td>13</td>
                        <td>13</td>
                        <td>1</td>
                        <td>2021-3-20</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="javascript:void(0)" class="btn btn-xs btn-info"><i
                                        class="fa fa-globe"></i></a>
                                <a href="javascript:void(0)" class="btn btn-xs btn-warning"><i
                                        class="fa fa-reply"></i></a>
                                <a href="javascript:void(0)" class="btn btn-xs btn-success"><i
                                        class="fa fa-pencil"></i></a>
                                <a href="javascript:void(0)" class="btn btn-xs btn-danger delbtn"><i
                                        class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"><input type="checkbox" id="check5-td1" name="check5-td1">
                        </td>
                        </td>
                        <td class="cell-small text-center">1</td>
                        <td><a href="javascript:void(0)">停车场划线施工前需做好哪些准备工作</a></td>
                        <td><span class="label label-danger">热</span></td>
                        <td><i class="fa fa-picture-o"></i></td>
                        <td>公司新闻</td>
                        <td>新建窗口</td>
                        
                        <td><span class="label label-success">是</span></td>
                        <td>13</td>
                        <td>13</td>
                        <td>1</td>
                        <td>2021-3-20</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="javascript:void(0)" class="btn btn-xs btn-info"><i
                                        class="fa fa-globe"></i></a>
                                <a href="javascript:void(0)" class="btn btn-xs btn-warning"><i
                                        class="fa fa-reply"></i></a>
                                <a href="javascript:void(0)" class="btn btn-xs btn-success"><i
                                        class="fa fa-pencil"></i></a>
                                <a href="javascript:void(0)" class="btn btn-xs btn-danger delbtn"><i
                                        class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"><input type="checkbox" id="check5-td1" name="check5-td1">
                        </td>
                        </td>
                        <td class="cell-small text-center">1</td>
                        <td><a href="javascript:void(0)">停车场划线施工前需做好哪些准备工作</a></td>
                        <td><span class="label label-danger">热</span></td>
                        <td><i class="fa fa-picture-o"></i></td>
                        <td>公司新闻</td>
                        <td>新建窗口</td>
                        
                        <td><span class="label label-success">是</span></td>
                        <td>13</td>
                        <td>13</td>
                        <td>1</td>
                        <td>2021-3-20</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="javascript:void(0)" class="btn btn-xs btn-info"><i
                                        class="fa fa-globe"></i></a>
                                <a href="javascript:void(0)" class="btn btn-xs btn-warning"><i
                                        class="fa fa-reply"></i></a>
                                <a href="javascript:void(0)" class="btn btn-xs btn-success"><i
                                        class="fa fa-pencil"></i></a>
                                <a href="javascript:void(0)" class="btn btn-xs btn-danger delbtn"><i
                                        class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"><input type="checkbox" id="check5-td1" name="check5-td1">
                        </td>
                        </td>
                        <td class="cell-small text-center">1</td>
                        <td><a href="javascript:void(0)">停车场划线施工前需做好哪些准备工作</a></td>
                        <td><span class="label label-danger">热</span></td>
                        <td><i class="fa fa-picture-o"></i></td>
                        <td>公司新闻</td>
                        <td>新建窗口</td>
                        
                        <td><span class="label label-success">是</span></td>
                        <td>13</td>
                        <td>13</td>
                        <td>1</td>
                        <td>2021-3-20</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="javascript:void(0)" class="btn btn-xs btn-info"><i
                                        class="fa fa-globe"></i></a>
                                <a href="javascript:void(0)" class="btn btn-xs btn-warning"><i
                                        class="fa fa-reply"></i></a>
                                <a href="javascript:void(0)" class="btn btn-xs btn-success"><i
                                        class="fa fa-pencil"></i></a>
                                <a href="javascript:void(0)" class="btn btn-xs btn-danger delbtn"><i
                                        class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"><input type="checkbox" id="check5-td1" name="check5-td1">
                        </td>
                        </td>
                        <td class="cell-small text-center">1</td>
                        <td><a href="javascript:void(0)">停车场划线施工前需做好哪些准备工作</a></td>
                        <td><span class="label label-danger">热</span></td>
                        <td><i class="fa fa-picture-o"></i></td>
                        <td>公司新闻</td>
                        <td>新建窗口</td>
                        
                        <td><span class="label label-success">是</span></td>
                        <td>13</td>
                        <td>13</td>
                        <td>1</td>
                        <td>2021-3-20</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="javascript:void(0)" class="btn btn-xs btn-info"><i
                                        class="fa fa-globe"></i></a>
                                <a href="javascript:void(0)" class="btn btn-xs btn-warning"><i
                                        class="fa fa-reply"></i></a>
                                <a href="javascript:void(0)" class="btn btn-xs btn-success"><i
                                        class="fa fa-pencil"></i></a>
                                <a href="javascript:void(0)" class="btn btn-xs btn-danger delbtn"><i
                                        class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"><input type="checkbox" id="check5-td1" name="check5-td1">
                        </td>
                        </td>
                        <td class="cell-small text-center">1</td>
                        <td><a href="javascript:void(0)">停车场划线施工前需做好哪些准备工作</a></td>
                        <td><span class="label label-danger">热</span></td>
                        <td><i class="fa fa-picture-o"></i></td>
                        <td>公司新闻</td>
                        <td>新建窗口</td>
                        
                        <td><span class="label label-success">是</span></td>
                        <td>13</td>
                        <td>13</td>
                        <td>1</td>
                        <td>2021-3-20</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="javascript:void(0)" class="btn btn-xs btn-info"><i
                                        class="fa fa-globe"></i></a>
                                <a href="javascript:void(0)" class="btn btn-xs btn-warning"><i
                                        class="fa fa-reply"></i></a>
                                <a href="javascript:void(0)" class="btn btn-xs btn-success"><i
                                        class="fa fa-pencil"></i></a>
                                <a href="javascript:void(0)" class="btn btn-xs btn-danger delbtn"><i
                                        class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"><input type="checkbox" id="check5-td1" name="check5-td1">
                        </td>
                        </td>
                        <td class="cell-small text-center">1</td>
                        <td><a href="javascript:void(0)">停车场划线施工前需做好哪些准备工作</a></td>
                        <td><span class="label label-danger">热</span></td>
                        <td><i class="fa fa-picture-o"></i></td>
                        <td>公司新闻</td>
                        <td>新建窗口</td>
                        
                        <td><span class="label label-success">是</span></td>
                        <td>13</td>
                        <td>13</td>
                        <td>1</td>
                        <td>2021-3-20</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="javascript:void(0)" class="btn btn-xs btn-info"><i
                                        class="fa fa-globe"></i></a>
                                <a href="javascript:void(0)" class="btn btn-xs btn-warning"><i
                                        class="fa fa-reply"></i></a>
                                <a href="javascript:void(0)" class="btn btn-xs btn-success"><i
                                        class="fa fa-pencil"></i></a>
                                <a href="javascript:void(0)" class="btn btn-xs btn-danger delbtn"><i
                                        class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div class="fy">
            <ul class="pagination">
                <li><a href="javascript:void(0)">上一页</a></li>
                <li><a href="javascript:void(0)">1</a></li>
                <li><a href="javascript:void(0)">2</a></li>
                <li><a href="javascript:void(0)">3</a></li>
                <li><a href="javascript:void(0)">下一页</a></li>
            </ul>
        </div>
    </div>

    <script>
        $('.dropdown-toggle').dropdown();

        //1、日期范围
        laydate.render({
        elem: '#date'
        ,range: true,
        theme:"#5cb85c"
        });
        // 删除
        var delbtn = $('.delbtn');
        delbtn.click(function () {
            layer.confirm('您是否真的要删除当前这个文章？此操作将彻底删除该文档', {
                btn: ['确定', '取消'] //按钮
            }, function () {
                layer.msg('删除成功', { icon: 1 });
            }, function () { });
        })   
    </script>
</body>

</html>