<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Donglin/component/style/components.css' %}">
    <link rel="stylesheet" href="{% static 'Donglin/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'Donglin/css/plugins.css' %}">
    <link rel="stylesheet" href="{% static 'Donglin/css/main.css' %}">
        <!-- /* // ****后台页面定制，设计QQ：951252660 */ -->
    <link rel="stylesheet" href="{% static 'Donglin/css/themes.css' %}">
    <script src="{% static 'Donglin/component/js/JQuery2.1.4.js' %}"></script>
    <script src="{% static 'Donglin/component/plugins/layer/layer.js' %}"></script>
    {% block MyHead %}

    {% endblock %}
</head>


<body>
   <div id="system">
        <header>
            <div class="left">
                <a href="">
                    <i class="gi gi-leaf"></i> 东林站
                </a>
            </div>
            <div class="right">
                <a href="" title="首页">
                    <i class="fa fa-globe"></i>
                </a>

                <a href="" title="清空缓存">
                    <i class="fa fa-trash-o"></i>
                </a>

                <a href="{% url 'donglin:login' %}" title="注销">
                    <i class="fa fa-power-off"></i>
                </a>
            </div>
        </header>
        <section class="body">
            <div class="left">
                <div class="navbar">
                    <dl>
                        <dt><i class="fa fa-fw fa-reorder"></i> <span>东营</span></dt>
                        <dd>
                            <div class='li'>
                                <a href="{% url 'donglin:dong_ying' page_num=1 %}" target="rightiframe"><i class="fa fa-fw fa-angle-right"></i><span>数据展示</span></a>
                            </div>
                            <div class='li'>
                                <a href="{% url 'donglin:dong_ying_chart' %}" target="rightiframe"><i class="fa fa-fw fa-angle-right"></i><span>数据绘图</span></a>
                            </div>

                        </dd>
                    </dl>

                    <dl>
                        <dt><i class="fa fa-fw fa-reorder"></i> <span>滨州</span></dt>
                        <dd>
                            <div class='li'>
                                <a href="{% url 'donglin:bin_zhou' page_num=1 %}" target="rightiframe"><i class="fa fa-fw fa-angle-right"></i><span>数据展示</span></a>
                            </div>
                            <div class='li'>
                                <a href="{% url 'donglin:bin_zhou_Data' %}" target="rightiframe"><i class="fa fa-fw fa-angle-right"></i><span>数据绘图</span></a>
                            </div>

                        </dd>

{#                        <dt><a href="{% url 'donglin:bin_zhou' %}" target="rightiframe"><i class="fa fa-fw fa-tachometer"></i><span>滨州</span></a></dt>#}
                    </dl>

                        <dl>
                        <dt><i class="fa fa-fw fa-reorder"></i> <span>临邑</span></dt>
                        <dd>
                            <div class='li'>
                                <a href="{% url 'donglin:lin_yi' page_num=1 %}" target="rightiframe"><i class="fa fa-fw fa-angle-right"></i><span>数据展示</span></a>
                            </div>
                            <div class='li'>
                                <a href="{% url 'donglin:lin_yi_data' %}" target="rightiframe"><i class="fa fa-fw fa-angle-right"></i><span>数据绘图</span></a>
                            </div>

                        </dd>

{#                        <dt><a href="{% url 'donglin:lin_yi' %}" target="rightiframe"><i class="fa fa-fw fa-tachometer"></i><span>临邑</span></a></dt>#}
                    </dl>

{#                    <dl>#}
{#                        <dt><i class="fa fa-fw fa-reorder"></i> <span>模拟历史</span></dt>#}
{#                        <dd>#}
{#                            <div class='li'>#}
{#                                <a href="{% url 'donglin:simulation_history' page_num=1 %}" target="rightiframe"><i class="fa fa-fw fa-angle-right"></i><span>数据展示</span></a>#}
{#                            </div>#}
{#                            <div class='li'>#}
{#                                <a href="article_create.html" target="rightiframe"><i class="fa fa-fw fa-angle-right"></i><span>数据绘图</span></a>#}
{#                            </div>#}
{##}
{#                        </dd>#}
{##}
{#                        <dt><a href="{% url 'donglin:simulation_history' %}" target="rightiframe"><i class="fa fa-fw fa-tachometer"></i><span>模拟历史</span></a></dt>#}
{#                    </dl>#}

                </div>
            </div>
            <div class="right">
                {% block MyBody %}

                {% endblock %}

            </div>
        </section>
        <div class="rightmask"></div>
   </div>

   <script>
       $('.navbar dl dt').click(function () {
            if (!$(this).siblings('dd').hasClass('active')) {
                $('.navbar dl dd').removeClass('active');
                $(this).siblings('dd').removeClass('active');
                $(this).siblings('dd').addClass('active');
            } else {
                $('.navbar dl dd').removeClass('active');
                $(this).siblings('dd').removeClass('active');
            }

            if (!$(this).hasClass('activeTop')) {
                $('.navbar dl dt').removeClass('activeTop');
                $(this).removeClass('activeTop');
                $(this).addClass('activeTop');
            } else {
                $('.navbar dl dt').removeClass('activeTop');
                $(this).removeClass('activeTop');
            }
        })

        $('.navbar .li a').click(function(){
            $('.navbar .li a').removeClass('activelinks');
            $(this).addClass('activelinks');
        })

        $('.body .left').hover(function(){
            $('.rightmask').addClass('show');
        },function(){
            $('.rightmask').removeClass('show');
        })
   </script>
</body>

</html>
