<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./component/js/JQuery2.1.4.js"></script>
    <link rel="stylesheet" href="./component/style/components.css">
        <!-- /* // ****后台页面定制，设计QQ：951252660 */ -->
        <!-- /* // ****后台页面定制，设计QQ：951252660 */ -->
    <script src="./component/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/plugins.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/themes.css">
</head>

<body>
    <div id="body">
        <ol class="breadcrumb">
            <li class="active"><a href="#">系统</a></li>
            <li>创建栏目</li>
        </ol>


        <div class="tabli">
            <span class="active">基本信息</span>
            <span>其他配置</span>
            <span>栏目内容</span>
        </div>

        <div class="tabbody">
            <div class="bodyli active">
                <!-- ///// -->
                <div class="inputbox">
                    <span class="title"><em class="s-red">*</em> 所属栏目</span>
                    <div class="inputright">
                        <select id="example-select" name="" class="form-control input-sm">
                            <option>顶级栏目</option>
                            <option>css</option>
                            <option>javascript</option>
                            <option>php</option>
                            <option>mysql</option>
                        </select>
                    </div>
                </div>
                <!-- ///// -->
                <div class="inputbox">
                    <span class="title"><em class="s-red">*</em> 栏目名称CN</span>
                    <div class="inputright">
                        <input type="text" name="" class="form-control input-sm">
                    </div>
                </div>
                <!-- ///// -->
                <div class="inputbox">
                    <span class="title">栏目名称EN</span>
                    <div class="inputright">
                        <input type="text" name="" class="form-control input-sm">
                    </div>
                </div>
                <!-- ///// -->
                <div class="inputbox">
                    <span class="title"><em class="s-red">*</em> 访问控制器</span>
                    <div class="inputright">
                        <input type="text" name="" class="form-control input-sm">
                    </div>
                </div>
                <!-- ///// -->
                <div class="inputbox">
                    <span class="title">分页条数</span>
                    <div class="inputright">
                        <input type="text" name="" class="form-control input-sm">
                    </div>
                </div>

                <!-- ///// -->
                <div class="inputbox">
                    <span class="title">排序</span>
                    <div class="inputright">
                        <input type="text" name="" class="form-control input-sm">
                    </div>
                </div>



                <!-- ///// -->
                <div class="inputbox">
                    <span class="title">首页排序</span>
                    <div class="inputright">
                        <input type="text" name="" class="form-control input-sm">
                    </div>
                </div>

                <!-- ///// -->
                <div class="inputbox">
                    <span class="title">显示状态</span>
                    <div class="inputright">
                        <label class="radio-inline" for="example-radio-inline1">
                            <input type="radio" id="example-radio-inline1" name="example-radios-inline" value="option1">
                            显示&emsp;&emsp;&emsp;
                        </label>
                        <label class="radio-inline" for="example-radio-inline1">
                            <input type="radio" id="example-radio-inline1" name="example-radios-inline" value="option1">
                            隐藏
                        </label>
                    </div>
                </div>

                <!-- ///// -->
                <div class="inputbox">
                    <span class="title">页面模式</span>
                    <div class="inputright">
                        <label class="radio-inline" for="example-radio-inline1">
                            <input type="radio" id="example-radio-inline1" name="example-radios-inline" value="option1">
                            列表模式&emsp;
                        </label>
                        <label class="radio-inline" for="example-radio-inline1">
                            <input type="radio" id="example-radio-inline1" name="example-radios-inline" value="option1">
                            单页模式
                        </label>
                    </div>
                </div>

                <!-- ///// -->
                <div class="inputbox">
                    <span class="title">打开方式</span>
                    <div class="inputright">
                        <label class="radio-inline" for="example-radio-inline1">
                            <input type="radio" id="example-radio-inline1" name="example-radios-inline" value="option1">
                            新建窗口&emsp;
                        </label>
                        <label class="radio-inline" for="example-radio-inline1">
                            <input type="radio" id="example-radio-inline1" name="example-radios-inline" value="option1">
                            直接打开
                        </label>
                    </div>
                </div>
                <!-- ///// -->
                <div class="inputbox">
                    <span class="title">是否外部链接</span>
                    <div class="inputright">
                        <label class="radio-inline" for="example-radio-inline1">
                            <input type="radio" id="example-radio-inline1" name="example-radios-inline" value="option1">
                            外部链接&emsp;
                        </label>
                        <label class="radio-inline" for="example-radio-inline1">
                            <input type="radio" id="example-radio-inline1" name="example-radios-inline" value="option1">
                            正常访问
                        </label>
                    </div>
                </div>
                <!-- ///// -->
                <div class="inputbox">
                    <span class="title">外部链接</span>
                    <div class="inputright">
                        <input type="text" name="" class="form-control input-sm">
                    </div>
                </div>

                <!-- ///// -->
                <div class="inputbox">
                    <span class="title">封面图片</span>
                    <div class="inputright">
                        <input type="text" name="" class="form-control input-sm">
                        <label class="btn btn-success btn-sm" for="uploadimg"><i class="fa fa-file-photo-o"></i></label>
                        <input type="file" id="uploadimg" style="display: none;">
                        <!-- ajax formdata上传图片返回url 赋值给input框 如果是外部链接 则直接输入图片URL即可 -->
                    </div>
                </div>
                <!-- ///// -->
                <div class="inputbox">
                    <span class="title">文档评论</span>
                    <div class="inputright">
                        <label class="radio-inline" for="example-radio-inline1">
                            <input type="radio" id="example-radio-inline1" name="example-radios-inline" value="option1">
                            允许评论&emsp;
                        </label>
                        <label class="radio-inline" for="example-radio-inline1">
                            <input type="radio" id="example-radio-inline1" name="example-radios-inline" value="option1">
                            禁止评论
                        </label>
                    </div>
                </div>
            </div>
            <div class="bodyli">
                <!-- ///// -->
                <div class="inputbox">
                    <span class="title">SEO标题</span>
                    <div class="inputright">
                        <input type="text" name="" class="form-control input-sm">
                    </div>
                </div>
                <!-- ///// -->
                <div class="inputbox">
                    <span class="title">关键词</span>
                    <div class="inputright">
                        <input type="text" name="" class="form-control input-sm">
                    </div>
                </div>
                <!-- ///// -->
                <div class="inputbox">
                    <span class="title">关键词</span>
                    <div class="inputright">
                        <textarea id="example-textarea" name="example-textarea" class="form-control"
                            rows="3"></textarea>
                    </div>
                </div>
                <!-- ///// -->
                <div class="inputbox">
                    <span class="title">栏目模板</span>
                    <div class="inputright">
                        <input type="text" name="" class="form-control input-sm">
                    </div>
                </div>
                <!-- ///// -->
                <div class="inputbox">
                    <span class="title">文章模板</span>
                    <div class="inputright">
                        <input type="text" name="" class="form-control input-sm">
                    </div>
                </div>
            </div>
            <div class="bodyli bd0">
                <div id="content">

                </div>
            </div>
        </div>
        <div class="tbfooter">
            <button class="btn btn-success"><i class="fa fa-floppy-o"></i> 创建栏目</button>
        </div>
    </div>


    <script src="./component/plugins/tinymce/tinymce.min.js"></script>
    <script>
        $('.tabli span').click(function () {
            $('.tabli span').removeClass('active');
            $(this).addClass('active').siblings('span').removeClass('active');
            var id = $(this).index();
            $('.bodyli').removeClass('active');
            $('.bodyli').eq(id).addClass('active');
        })
        // http://tinymce.ax-z.cn/
        tinymce.init({
            selector: '#content',
            language:'zh_CN',
            menubar: false, //隐藏上面的一个工具栏标题栏
            branding: false,
            plugins: 'image code batchUploadImage imagetools link hr table media preview ',
            toolbar:"undo  redo | removeformat  lineheight  | alignleft  aligncenter alignright alignjustify |  fontselect fontsizeselect | table  media  forecolor backcolor bold italic underline  strikethrough formats | bullist  numlist outdent  indent blockquote | image batchUploadImage imagetools  | code link hr | preview ",
            height: 550,
            fontsize_formats: '12px 13px 14px 15px 16px 17px 18px 19px 20px 21px 22px 23px 24px 36px 48px',
            images_upload_url: '/demo/upimg.php', // 图片上传URL
            images_upload_base_path: '/demo',     // 存储路径
            content_style: "img {max-width:100%;}"
        });
    </script>
</body>

</html>