<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <script src="{% static 'Donglin/component/js/JQuery2.1.4.js' %}"></script>
    <link rel="stylesheet" href="{% static 'Donglin/component/style/components.css' %}">
    <script src="{% static 'Donglin/component/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'Donglin/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'Donglin/css/plugins.css' %}">
    <link rel="stylesheet" href="{% static 'Donglin/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'Donglin/css/themes.css' %}">
    <script src="{% static 'Donglin/component/plugins/laydate/laydate.js' %}"></script>
    <script src="{% static 'Donglin/component/plugins/layer/layer.js' %}"></script>
</head>

<body>
    <div id="body">
        <ol class="breadcrumb">
            <li class="active"><a href="#">系统</a></li>
            <li>文档</li>
        </ol>

        <div class="barboxs">
            <button class="btn btn-success pull-left" data-toggle="tooltip" title="" data-placement="right"
                data-original-title="创建文档"><i class="fa fa-file-word-o"></i></button>
            <button class="btn btn-warning pull-left ml10" data-toggle="tooltip" title="" data-placement="right"
                data-original-title="下架文档"><i class="fa fa-level-down"></i></button>
            <button class="btn btn-danger pull-left ml10" data-toggle="tooltip" title="" data-placement="right"
                data-original-title="删除文档"><i class="fa fa-trash-o"></i></button>
            <div class="leftbox">
                <div class="liselect">
                    <select id="val_skill" name="val_skill" class="form-control ">
                        <option value="">所属栏目</option>
                        <option value="html">HTML</option>
                        <option value="css">CSS</option>
                        <option value="javascript">Javascript</option>
                        <option value="php">PHP</option>
                        <option value="mysql">MySQL</option>
                    </select>
                </div>

                <div class="liselect">
                    <select id="val_skill" name="val_skill" class="form-control ">
                        <option value="">发布状态</option>
                        <option value="html">正常</option>
                        <option value="css">审核</option>
                    </select>
                </div>
                <div class="ml10">
                    <div class="input-group date input-datepicker mtb0">
                        <input type="text" id="date" placeholder="请选择时间段"
                            name="date" class="form-control cursorpointer" readonly="readonly">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>

                <div class="liselect w300">
                    <div class="input-group">
                        <input type="text" id="example-input-typeahead" class="form-control example-typeahead"
                            placeholder="请输入关键词">
                        <span class="input-group-btn">
                            <button class="btn btn-success"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="push">
            <button class="btn btn-success pull-left"><i class="fa fa-plus"></i> 创建文章</button>
        </div> -->
        <div class="tablebox">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="text-center" width="50"><input type="checkbox" id="check5-all" name="check5-all">
                        </th>
                        <th class="text-center">ID</th>
                        <th>文档名称</th>
                        <th>标记</th>
                        <th>封面</th>
                        <th>所属栏目</th>
                        <th>打开方式</th>
                        <th>评论状态</th>
                        <th>状态</th>
                        <th>赞</th>
                        <th>点击</th>
                        <th>排序</th>
                        <th>发布日期</th>
                        <th class="cell-small text-center"><i class="fa fa-bolt"></i> 操作</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td class="text-center"><input type="checkbox" id="check5-td1" name="check5-td1"></td>
                        <td class="cell-small text-center">1</td>
                        <td><a href="javascript:void(0)">停车场划线施工前需做好哪些准备工作</a></td>
                        <td><span class="label label-danger">热</span></td>
                        <td><i class="fa fa-picture-o"></i></td>
                        <td>公司新闻</td>
                        <td>新建窗口</td>
                        <td><span class="label label-success">允许</span></td>
                        <td><span class="label label-success">正常</span></td>
                        <td>13</td>
                        <td>13</td>
                        <td>1</td>
                        <td>2021-3-20</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="javascript:void(0)" class="btn btn-xs btn-info" data-toggle="tooltip"
                                    data-placement="top" title="前台预览"><i class="fa fa-info-circle"></i></a>

                                <a href="javascript:void(0)" class="btn btn-xs btn-success" data-toggle="tooltip"
                                    data-placement="top" title="修改"><i class="fa fa-pencil"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-danger delbtn" data-toggle="tooltip"
                                    data-placement="top" title="删除"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"><input type="checkbox" id="check5-td1" name="check5-td1">
                        </td>
                        <td class="cell-small text-center">2</td>
                        <td><a href="javascript:void(0)">交通设施生产厂家哪家好？交通标志厂家怎么选？</a></td>
                        <td><span class="label label-danger">热</span></td>
                        <td><i class="fa fa-picture-o"></i></td>
                        <td>行业新闻</td>
                        <td>新建窗口</td>
                        <td><span class="label label-success">允许</span></td>
                        <td><span class="label label-success">正常</span></td>

                        <td>13</td>
                        <td>13</td>
                        <td>1</td>
                        <td>2021-3-20</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="javascript:void(0)" class="btn btn-xs btn-info"><i
                                        class="fa fa-info-circle"></i></a>

                                <a href="javascript:void(0)" class="btn btn-xs btn-success"><i
                                        class="fa fa-pencil"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-danger delbtn" data-toggle="tooltip"
                                    data-placement="top" title="删除"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="text-center"><input type="checkbox" id="check5-td1" name="check5-td1">
                        </td>
                        <td class="cell-small text-center">3</td>
                        <td><a href="javascript:void(0)">交通设施生产厂家哪家好？交通标志厂家怎么选？</a></td>
                        <td><span class="label label-danger">热</span></td>
                        <td><i class="fa fa-picture-o"></i></td>
                        <td>行业新闻</td>

                        <td>新建窗口</td>
                        <td><span class="label label-success">允许</span></td>
                        <td><span class="label label-success">正常</span></td>

                        <td>13</td>
                        <td>13</td>
                        <td>1</td>
                        <td>2021-3-20</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="javascript:void(0)" class="btn btn-xs btn-info"><i
                                        class="fa fa-info-circle"></i></a>

                                <a href="javascript:void(0)" class="btn btn-xs btn-success"><i
                                        class="fa fa-pencil"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-danger delbtn" data-toggle="tooltip"
                                    data-placement="top" title="删除"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="text-center"><input type="checkbox" id="check5-td1" name="check5-td1">
                        </td>
                        <td class="cell-small text-center">4</td>
                        <td><a href="javascript:void(0)">交通设施生产厂家哪家好？交通标志厂家怎么选？</a></td>
                        <td><span class="label label-danger">热</span></td>
                        <td><i class="fa fa-picture-o"></i></td>
                        <td>行业新闻</td>

                        <td>新建窗口</td>
                        <td><span class="label label-success">允许</span></td>
                        <td><span class="label label-success">正常</span></td>

                        <td>13</td>
                        <td>13</td>
                        <td>1</td>
                        <td>2021-3-20</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="javascript:void(0)" class="btn btn-xs btn-info"><i
                                        class="fa fa-info-circle"></i></a>

                                <a href="javascript:void(0)" class="btn btn-xs btn-success"><i
                                        class="fa fa-pencil"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-danger delbtn" data-toggle="tooltip"
                                    data-placement="top" title="删除"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="text-center"><input type="checkbox" id="check5-td1" name="check5-td1">
                        </td>
                        <td class="cell-small text-center">5</td>
                        <td><a href="javascript:void(0)">交通设施生产厂家哪家好？交通标志厂家怎么选？</a></td>
                        <td><span class="label label-danger">热</span></td>
                        <td><i class="fa fa-picture-o"></i></td>
                        <td>行业新闻</td>

                        <td>新建窗口</td>
                        <td><span class="label label-success">允许</span></td>
                        <td><span class="label label-success">正常</span></td>

                        <td>13</td>
                        <td>13</td>
                        <td>1</td>
                        <td>2021-3-20</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="javascript:void(0)" class="btn btn-xs btn-info"><i
                                        class="fa fa-info-circle"></i></a>

                                <a href="javascript:void(0)" class="btn btn-xs btn-success"><i
                                        class="fa fa-pencil"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-danger delbtn" data-toggle="tooltip"
                                    data-placement="top" title="删除"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="text-center"><input type="checkbox" id="check5-td1" name="check5-td1">
                        </td>
                        <td class="cell-small text-center">2</td>
                        <td><a href="javascript:void(0)">交通设施生产厂家哪家好？交通标志厂家怎么选？</a></td>
                        <td><span class="label label-danger">热</span></td>
                        <td><i class="fa fa-picture-o"></i></td>
                        <td>行业新闻</td>

                        <td>新建窗口</td>
                        <td><span class="label label-success">允许</span></td>
                        <td><span class="label label-success">正常</span></td>

                        <td>13</td>
                        <td>13</td>
                        <td>1</td>
                        <td>2021-3-20</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="javascript:void(0)" class="btn btn-xs btn-info"><i
                                        class="fa fa-info-circle"></i></a>

                                <a href="javascript:void(0)" class="btn btn-xs btn-success"><i
                                        class="fa fa-pencil"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-danger delbtn" data-toggle="tooltip"
                                    data-placement="top" title="删除"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="text-center"><input type="checkbox" id="check5-td1" name="check5-td1">
                        </td>
                        <td class="cell-small text-center">3</td>
                        <td><a href="javascript:void(0)">交通设施生产厂家哪家好？交通标志厂家怎么选？</a></td>
                        <td><span class="label label-danger">热</span></td>
                        <td><i class="fa fa-picture-o"></i></td>
                        <td>行业新闻</td>

                        <td>新建窗口</td>
                        <td><span class="label label-success">允许</span></td>
                        <td><span class="label label-success">正常</span></td>

                        <td>13</td>
                        <td>13</td>
                        <td>1</td>
                        <td>2021-3-20</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="javascript:void(0)" class="btn btn-xs btn-info"><i
                                        class="fa fa-info-circle"></i></a>

                                <a href="javascript:void(0)" class="btn btn-xs btn-success"><i
                                        class="fa fa-pencil"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-danger delbtn" data-toggle="tooltip"
                                    data-placement="top" title="删除"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="text-center"><input type="checkbox" id="check5-td1" name="check5-td1">
                        </td>
                        <td class="cell-small text-center">4</td>
                        <td><a href="javascript:void(0)">交通设施生产厂家哪家好？交通标志厂家怎么选？</a></td>
                        <td><span class="label label-danger">热</span></td>
                        <td><i class="fa fa-picture-o"></i></td>
                        <td>行业新闻</td>

                        <td>新建窗口</td>
                        <td><span class="label label-success">允许</span></td>
                        <td><span class="label label-success">正常</span></td>

                        <td>13</td>
                        <td>13</td>
                        <td>1</td>
                        <td>2021-3-20</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="javascript:void(0)" class="btn btn-xs btn-info"><i
                                        class="fa fa-info-circle"></i></a>

                                <a href="javascript:void(0)" class="btn btn-xs btn-success"><i
                                        class="fa fa-pencil"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-danger delbtn" data-toggle="tooltip"
                                    data-placement="top" title="删除"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="text-center"><input type="checkbox" id="check5-td1" name="check5-td1">
                        </td>
                        <td class="cell-small text-center">5</td>
                        <td><a href="javascript:void(0)">交通设施生产厂家哪家好？交通标志厂家怎么选？</a></td>
                        <td><span class="label label-danger">热</span></td>
                        <td><i class="fa fa-picture-o"></i></td>
                        <td>行业新闻</td>

                        <td>新建窗口</td>
                        <td><span class="label label-success">允许</span></td>
                        <td><span class="label label-success">正常</span></td>

                        <td>13</td>
                        <td>13</td>
                        <td>1</td>
                        <td>2021-3-20</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="javascript:void(0)" class="btn btn-xs btn-info"><i
                                        class="fa fa-info-circle"></i></a>

                                <a href="javascript:void(0)" class="btn btn-xs btn-success"><i
                                        class="fa fa-pencil"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-danger delbtn" data-toggle="tooltip"
                                    data-placement="top" title="删除"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"><input type="checkbox" id="check5-td1" name="check5-td1">
                        </td>
                        <td class="cell-small text-center">5</td>
                        <td><a href="javascript:void(0)">交通设施生产厂家哪家好？交通标志厂家怎么选？</a></td>
                        <td><span class="label label-danger">热</span></td>
                        <td><i class="fa fa-picture-o"></i></td>
                        <td>行业新闻</td>

                        <td>新建窗口</td>
                        <td><span class="label label-success">允许</span></td>
                        <td><span class="label label-success">正常</span></td>

                        <td>13</td>
                        <td>13</td>
                        <td>1</td>
                        <td>2021-3-20</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="javascript:void(0)" class="btn btn-xs btn-info"><i
                                        class="fa fa-info-circle"></i></a>

                                <a href="javascript:void(0)" class="btn btn-xs btn-success"><i
                                        class="fa fa-pencil"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-danger delbtn" data-toggle="tooltip"
                                    data-placement="top" title="删除"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div class="fy">
            <ul class="pagination">
                <li><a href="javascript:void(0)">上一页</a></li>
                <li><a href="javascript:void(0)">1</a></li>
                <li><a href="javascript:void(0)">2</a></li>
                <li><a href="javascript:void(0)">3</a></li>
                <li><a href="javascript:void(0)">下一页</a></li>
            </ul>
        </div>
    </div>

    <script>
        $('.dropdown-toggle').dropdown();
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        //日期范围
        laydate.render({
        elem: '#date'
        ,range: true,
        theme:"#5cb85c"
        });

        // 删除
        var delbtn = $('.delbtn');
        delbtn.click(function () {
            layer.confirm('您是否真的要删除当前这个文档？删除后将进入回收站', {
                btn: ['确定', '取消'] //按钮
            }, function () {
                layer.msg('删除成功', { icon: 1 });
            }, function () { });
        })
    </script>
</body>

</html>