<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./component/js/JQuery2.1.4.js"></script>
    <link rel="stylesheet" href="./component/style/components.css">
    <script src="./component/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
        <!-- /* // ****后台页面定制，设计QQ：951252660 */ -->
    <link rel="stylesheet" href="css/plugins.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/themes.css">
        <!-- /* // ****后台页面定制，设计QQ：951252660 */ -->
</head>

<body>
    <div id="body">
        <ol class="breadcrumb">
            <li class="active"><a href="#">系统</a></li>
            <li>关键词列表</li>
        </ol>
        <div class="barboxs">

            <button 
                class="btn btn-success pull-left " 
                data-toggle="modal" data-target="#myModal"
                title="" 
                data-placement="right"
                data-original-title="添加关键词">
                <i class="fa fa-pencil-square-o"></i>
            </button>
            <button class="btn btn-danger pull-left ml10" data-toggle="tooltip" title="" data-placement="right" data-original-title="删除文档"><i class="fa fa-trash-o"></i></button>
            <div class="leftbox">
                <div class="liselect w300">
                    <div class="input-group">
                        <input type="text" id="example-input-typeahead" class="form-control example-typeahead"
                            placeholder="请输入关键词">
                        <span class="input-group-btn">
                            <button class="btn btn-success"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="tablebox">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center" width="50"><input type="checkbox" id="check5-all" name="check5-all"></th>
                        <th class="text-center">ID</th>
                        <th>关键词</th>
                        <th>关键词链接</th>
                        <th>权重</th>
                        <th class="text-center" width="80"><i class="fa fa-bolt"></i> 操作</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td class="text-center"><input type="checkbox" id="check5-td1" name="check5-td1"></td>
                        <td class="cell-small text-center">1</td>
                        <td><a href="javascript:void(0)">网站建设</a></td>
                        <td>http://www.baidu.com</td>
                        <td>1989</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="javascript:void(0)" class="btn btn-xs btn-success"><i
                                        class="fa fa-pencil"></i></a>
                                <a href="javascript:void(0)" class="btn btn-xs btn-danger"><i
                                        class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>
                     <tr>
                        <td class="text-center"><input type="checkbox" id="check5-td1" name="check5-td1"></td>
                        <td class="cell-small text-center">1</td>
                        <td><a href="javascript:void(0)">网站建设</a></td>
                        <td>http://www.baidu.com</td>
                        <td>1989</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="javascript:void(0)" class="btn btn-xs btn-success"><i
                                        class="fa fa-pencil"></i></a>
                                <a href="javascript:void(0)" class="btn btn-xs btn-danger"><i
                                        class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>
                     <tr>
                        <td class="text-center"><input type="checkbox" id="check5-td1" name="check5-td1"></td>
                        <td class="cell-small text-center">1</td>
                        <td><a href="javascript:void(0)">网站建设</a></td>
                        <td>http://www.baidu.com</td>
                        <td>1989</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="javascript:void(0)" class="btn btn-xs btn-success"><i
                                        class="fa fa-pencil"></i></a>
                                <a href="javascript:void(0)" class="btn btn-xs btn-danger"><i
                                        class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>
                     <tr>
                        <td class="text-center"><input type="checkbox" id="check5-td1" name="check5-td1"></td>
                        <td class="cell-small text-center">1</td>
                        <td><a href="javascript:void(0)">网站建设</a></td>
                        <td>http://www.baidu.com</td>
                        <td>1989</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="javascript:void(0)" class="btn btn-xs btn-success"><i
                                        class="fa fa-pencil"></i></a>
                                <a href="javascript:void(0)" class="btn btn-xs btn-danger"><i
                                        class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>
                     <tr>
                        <td class="text-center"><input type="checkbox" id="check5-td1" name="check5-td1"></td>
                        <td class="cell-small text-center">1</td>
                        <td><a href="javascript:void(0)">网站建设</a></td>
                        <td>http://www.baidu.com</td>
                        <td>1989</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="javascript:void(0)" class="btn btn-xs btn-success"><i
                                        class="fa fa-pencil"></i></a>
                                <a href="javascript:void(0)" class="btn btn-xs btn-danger"><i
                                        class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>
                     <tr>
                        <td class="text-center"><input type="checkbox" id="check5-td1" name="check5-td1"></td>
                        <td class="cell-small text-center">1</td>
                        <td><a href="javascript:void(0)">网站建设</a></td>
                        <td>http://www.baidu.com</td>
                        <td>1989</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="javascript:void(0)" class="btn btn-xs btn-success"><i
                                        class="fa fa-pencil"></i></a>
                                <a href="javascript:void(0)" class="btn btn-xs btn-danger"><i
                                        class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>
                     <tr>
                        <td class="text-center"><input type="checkbox" id="check5-td1" name="check5-td1"></td>
                        <td class="cell-small text-center">1</td>
                        <td><a href="javascript:void(0)">网站建设</a></td>
                        <td>http://www.baidu.com</td>
                        <td>1989</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="javascript:void(0)" class="btn btn-xs btn-success"><i
                                        class="fa fa-pencil"></i></a>
                                <a href="javascript:void(0)" class="btn btn-xs btn-danger"><i
                                        class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>
                     <tr>
                        <td class="text-center"><input type="checkbox" id="check5-td1" name="check5-td1"></td>
                        <td class="cell-small text-center">1</td>
                        <td><a href="javascript:void(0)">网站建设</a></td>
                        <td>http://www.baidu.com</td>
                        <td>1989</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="javascript:void(0)" class="btn btn-xs btn-success"><i
                                        class="fa fa-pencil"></i></a>
                                <a href="javascript:void(0)" class="btn btn-xs btn-danger"><i
                                        class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>
                     <tr>
                        <td class="text-center"><input type="checkbox" id="check5-td1" name="check5-td1"></td>
                        <td class="cell-small text-center">1</td>
                        <td><a href="javascript:void(0)">网站建设</a></td>
                        <td>http://www.baidu.com</td>
                        <td>1989</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="javascript:void(0)" class="btn btn-xs btn-success"><i
                                        class="fa fa-pencil"></i></a>
                                <a href="javascript:void(0)" class="btn btn-xs btn-danger"><i
                                        class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>
                     <tr>
                        <td class="text-center"><input type="checkbox" id="check5-td1" name="check5-td1"></td>
                        <td class="cell-small text-center">1</td>
                        <td><a href="javascript:void(0)">网站建设</a></td>
                        <td>http://www.baidu.com</td>
                        <td>1989</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="javascript:void(0)" class="btn btn-xs btn-success"><i
                                        class="fa fa-pencil"></i></a>
                                <a href="javascript:void(0)" class="btn btn-xs btn-danger"><i
                                        class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="fy">
            <ul class="pagination">
                <li><a href="javascript:void(0)">上一页</a></li>
                <li><a href="javascript:void(0)">1</a></li>
                <li><a href="javascript:void(0)">2</a></li>
                <li><a href="javascript:void(0)">3</a></li>
                <li><a href="javascript:void(0)">下一页</a></li>
            </ul>
        </div>
    </div>


    <!-- 000 -->

    <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">添加关键词</h4>
        </div>
        <div class="modal-body">
              <div class="form-group">
                <label for="exampleInputEmail1">关键词</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="请输入">
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">关键词链接</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="请输入">
              </div>

              <div class="form-group  mb0">
                <label for="exampleInputEmail1">权重</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="请输入">
              </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" data-dismiss="modal">取消</button>
            <button class="btn btn-success">创建</button>
        </div>
      </div>
    </div>
  </div>

  <!-- 000 -->
    <script>
        $('.dropdown-toggle').dropdown();
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
        
    </script>
</body>

</html>