<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <!-- /* // ****后台页面定制，设计QQ：951252660 */ -->
    <script src="./component/js/JQuery2.1.4.js"></script>
    <link rel="stylesheet" href="./component/style/components.css">
    <script src="./component/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/plugins.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/themes.css">
    <script src="./component/plugins/laydate/laydate.js"></script>
    <script src="./component/plugins/layer/layer.js"></script>
</head>

<body>
    <div id="body">
        <ol class="breadcrumb">
            <li class="active"><a href="#">系统</a></li>
            <li>关键词列表</li>
        </ol>
        <div class="barboxs">
            <button class="btn btn-danger pull-left " data-toggle="tooltip" title="" data-placement="right" data-original-title="清理日志"><i class="fa fa-trash-o"></i></button>
            <div class="leftbox">
                <div class="liselect">
                    <select id="val_skill" name="val_skill" class="form-control ">
                        <option value="">操作人</option>
                        <option value="html">admin</option>
                        <option value="css">admin66</option>
                    </select>
                </div>

            
                <div class="ml10">
                    <div class="input-group date input-datepicker mtb0">
                        <input type="text" id="date" placeholder="请选择时间段"
                            name="date" class="form-control cursorpointer" readonly="readonly">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>

                <button class="btn btn-success"><i class="fa fa-search"></i></button>
            </div>
        </div>
        <div class="tablebox">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">ID</th>
                        <th>账号</th>
                        <th>动作</th>
                        <th>IP地址</th>
                        <th>日期</th>
                        <th class="text-center" width="60"><i class="fa fa-bolt"></i> 操作</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td class="cell-small text-center">1</td>
                        <td>admin</td>
                        <td>删除了一个栏目</td>
                        <td>192.168.1.1</td>
                        <td>2021年3月22日10:16:16</td>
                        <td class="text-center">
                            <div class="btn-group">
                                
                                <a href="javascript:void(0)" class="btn btn-xs btn-danger"><i
                                        class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="cell-small text-center">1</td>
                        <td>admin</td>
                        <td>删除了一个栏目</td>
                        <td>192.168.1.1</td>
                        <td>2021年3月22日10:16:16</td>
                        <td class="text-center">
                            <div class="btn-group">
                                
                                <a href="javascript:void(0)" class="btn btn-xs btn-danger"><i
                                        class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="cell-small text-center">1</td>
                        <td>admin</td>
                        <td>删除了一个栏目</td>
                        <td>192.168.1.1</td>
                        <td>2021年3月22日10:16:16</td>
                        <td class="text-center">
                            <div class="btn-group">
                                
                                <a href="javascript:void(0)" class="btn btn-xs btn-danger"><i
                                        class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="cell-small text-center">1</td>
                        <td>admin</td>
                        <td>删除了一个栏目</td>
                        <td>192.168.1.1</td>
                        <td>2021年3月22日10:16:16</td>
                        <td class="text-center">
                            <div class="btn-group">
                                
                                <a href="javascript:void(0)" class="btn btn-xs btn-danger"><i
                                        class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="cell-small text-center">1</td>
                        <td>admin</td>
                        <td>删除了一个栏目</td>
                        <td>192.168.1.1</td>
                        <td>2021年3月22日10:16:16</td>
                        <td class="text-center">
                            <div class="btn-group">
                                
                                <a href="javascript:void(0)" class="btn btn-xs btn-danger"><i
                                        class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="cell-small text-center">1</td>
                        <td>admin</td>
                        <td>删除了一个栏目</td>
                        <td>192.168.1.1</td>
                        <td>2021年3月22日10:16:16</td>
                        <td class="text-center">
                            <div class="btn-group">
                                
                                <a href="javascript:void(0)" class="btn btn-xs btn-danger"><i
                                        class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="cell-small text-center">1</td>
                        <td>admin</td>
                        <td>删除了一个栏目</td>
                        <td>192.168.1.1</td>
                        <td>2021年3月22日10:16:16</td>
                        <td class="text-center">
                            <div class="btn-group">
                                
                                <a href="javascript:void(0)" class="btn btn-xs btn-danger"><i
                                        class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="cell-small text-center">1</td>
                        <td>admin</td>
                        <td>删除了一个栏目</td>
                        <td>192.168.1.1</td>
                        <td>2021年3月22日10:16:16</td>
                        <td class="text-center">
                            <div class="btn-group">
                                
                                <a href="javascript:void(0)" class="btn btn-xs btn-danger"><i
                                        class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="fy">
            <ul class="pagination">
                <li><a href="javascript:void(0)">上一页</a></li>
                <li><a href="javascript:void(0)">1</a></li>
                <li><a href="javascript:void(0)">2</a></li>
                <li><a href="javascript:void(0)">3</a></li>
                <li><a href="javascript:void(0)">下一页</a></li>
            </ul>
        </div>
    </div>


    <!-- 000 -->

    <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">添加关键词</h4>
        </div>
        <div class="modal-body">
              <div class="form-group">
                <label for="exampleInputEmail1">关键词</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="请输入">
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">关键词链接</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="请输入">
              </div>

              <div class="form-group  mb0">
                <label for="exampleInputEmail1">权重</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="请输入">
              </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" data-dismiss="modal">取消</button>
            <button class="btn btn-success">创建</button>
        </div>
      </div>
    </div>
  </div>

  <!-- 000 -->
    <script>
        $('.dropdown-toggle').dropdown();
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        //日期范围
        laydate.render({
        elem: '#date'
        ,range: true,
        theme:"#5cb85c"
        });
    </script>
</body>

</html>