<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./component/js/JQuery2.1.4.js"></script>
    <link rel="stylesheet" href="./component/style/components.css">
    <script src="./component/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/plugins.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/themes.css">
    <script src="./component/plugins/laydate/laydate.js"></script>
    <script src="./component/plugins/layer/layer.js"></script>
</head>

<body>
    <div id="body">
        <ol class="breadcrumb">
            <li class="active"><a href="#">系统</a></li>
            <li>创建单页</li>
        </ol>


        <div class="tabli">
            <span class="active">基本信息</span>
            <span>其他配置</span>
            <span>单页详情</span>
        </div>

        <div class="tabbody">
            <div class="bodyli active">
                <!-- ///// -->
                <div class="inputbox">
                    <span class="title">单页标题</span>
                    <div class="inputright">
                        <input type="text" name="" class="form-control input-sm">
                    </div>
                </div>
                <!-- ///// -->
                <div class="inputbox">
                    <span class="title">点击</span>
                    <div class="inputright">
                        <input type="text" name="" class="form-control input-sm">
                    </div>
                </div>
                <!-- ///// -->
                <div class="inputbox">
                    <span class="title">点赞</span>
                    <div class="inputright">
                        <input type="text" name="" class="form-control input-sm">
                    </div>
                </div>
                <!-- ///// -->
                <div class="inputbox">
                    <span class="title">封面图片</span>
                    <div class="inputright">
                        <input type="text" name="" class="form-control input-sm">
                        <button class="btn btn-success btn-sm"><i class="fa fa-file-photo-o"></i></button>
                    </div>
                </div>
                <!-- ///// -->
                <div class="inputbox">
                    <span class="title">发布状态</span>
                    <div class="inputright">
                        <label class="radio-inline" for="example-radio-inline2">
                            <input type="radio" id="example-radio-inline2" name="example-radios-inline2"
                                value="option2">
                            发布&emsp;&emsp;
                        </label>
                        <label class="radio-inline" for="example-radio-inline2">
                            <input type="radio" id="example-radio-inline2" name="example-radios-inline2"
                                value="option3">
                            审核
                        </label>
                    </div>
                </div>

                 <!-- ///// -->
                 <div class="inputbox">
                    <span class="title">打开方式</span>
                    <div class="inputright">
                        <label class="radio-inline" for="example-radio-inline2">
                            <input type="radio" id="example-radio-inline2" name="example-radios-inline2"
                                value="option2">
                            直接打开
                           
                        </label>
                        <label class="radio-inline" for="example-radio-inline2">
                            <input type="radio" id="example-radio-inline2" name="example-radios-inline2"
                                value="option3">
                                新建窗口
                        </label>
                    </div>
                </div>

            </div>
            <div class="bodyli">
                <!-- ///// -->
                <div class="inputbox">
                    <span class="title">SEO标题</span>
                    <div class="inputright">
                        <input type="text" name="" class="form-control input-sm">
                    </div>
                </div>
                <!-- ///// -->
                <div class="inputbox">
                    <span class="title">关键词</span>
                    <div class="inputright">
                        <input type="text" name="" class="form-control input-sm">
                    </div>
                </div>
                <!-- ///// -->
                <div class="inputbox">
                    <span class="title">摘要</span>
                    <div class="inputright">
                        <textarea id="example-textarea" name="example-textarea" class="form-control"
                            rows="3"></textarea>
                    </div>
                </div>
                 <!-- ///// -->
                 <div class="inputbox">
                    <span class="title">日期</span>
                    <div class="inputright">
                        <input type="text" id="date" placeholder="请选择时间"
                            name="date" class="form-control br0 cursorpointer" readonly>
                            <span class="btn btn-default"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
                <!-- ///// -->
                <div class="inputbox">
                    <span class="title">自定义URL</span>
                    <div class="inputright">
                        <input type="text" name="" class="form-control input-sm">
                    </div>
                </div>
                <!-- ///// -->
                <div class="inputbox">
                    <span class="title">自定义单页模板</span>
                    <div class="inputright">
                        <input type="text" name="" class="form-control input-sm">
                    </div>
                </div>
            </div>
            <div class="bodyli bd0">
                    <div id="content">

                    </div>
            </div>
        </div>
        <div class="tbfooter">
            <button class="btn btn-success"><i class="fa fa-floppy-o"></i> 创建文档</button>
        </div>
    </div>

    <script src="./component/plugins/tinymce/tinymce.min.js"></script>
    <script>
        $('.tabli span').click(function () {
            $('.tabli span').removeClass('active');
            $(this).addClass('active').siblings('span').removeClass('active');
            var id = $(this).index();
            $('.bodyli').removeClass('active');
            $('.bodyli').eq(id).addClass('active');
        })

        // 2、创建日期
        laydate.render({
            elem: '#date',
            theme:"#5cb85c",
            format: 'yyyy-MM-dd', //指定时间格式
            value: new Date(), // 创建日期默认为当天
        });


        // http://tinymce.ax-z.cn/
        tinymce.init({
            selector: '#content',
            language:'zh_CN',
            menubar: false, //隐藏上面的一个工具栏标题栏
            branding: false,
            plugins: 'image code batchUploadImage imagetools link hr table media preview ',
            toolbar:"undo  redo | removeformat  lineheight  | alignleft  aligncenter alignright alignjustify |  fontselect fontsizeselect | table  media  forecolor backcolor bold italic underline  strikethrough formats | bullist  numlist outdent  indent blockquote | image batchUploadImage imagetools  | code link hr | preview ",
            height: 550,
            fontsize_formats: '12px 13px 14px 15px 16px 17px 18px 19px 20px 21px 22px 23px 24px 36px 48px',
            images_upload_url: '/demo/upimg.php', // 图片上传URL
            images_upload_base_path: '/demo',     // 存储路径
            content_style: "img {max-width:100%;}"
        });
    </script>

        <!-- /* // ****后台页面定制，设计QQ：951252660 */ -->
</body>

</html>